<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Thêm người dùng mới</h2>
    </div>
    <div class="card-body">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>